{% extends 'base.html' %}
{% block title %} Welcome Lol Picker App {% endblock %}
{% block content %}
    <style>
        img {
            border-radius: 25px;
        }
    </style>

    <h1 id="l_gamephase" class="display-1" style="text-align:center">Waiting</h1>

    <div class="col-6" id="divpick">
        <label for="pick_inp">PICK</label><input type="text" class="form-control" id="pick_inp"
                                                 style="border-radius: 25px;">
        <button id="pick_btn" class="btn btn-primary" type="submit">submit</button>
    </div>


    <div class="container">
        <div class="row">
            <div class="col align-self-start" id="div0">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ0">
                <img src="https://via.placeholder.com/65" id="ban0" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>

            <div class="col align-self-end" id="div5">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ5">
                <img src="https://via.placeholder.com/65" id="ban5" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>
        </div>
        <div class="row">
            <div class="col align-self-start" id="div1">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ1">
                <img src="https://via.placeholder.com/65" id="ban1" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>

            <div class="col align-self-end" id="div6">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ6">
                <img src="https://via.placeholder.com/65" id="ban6" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>
        </div>
        <div class="row">
            <div class="col align-self-start" id="div2">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ2">
                <img src="https://via.placeholder.com/65" id="ban2" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>

            <div class="col align-self-end" id="div7">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ7">
                <img src="https://via.placeholder.com/65" id="ban7" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>
        </div>
        <div class="row">
            <div class="col align-self-start" id="div3">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ3">
                <img src="https://via.placeholder.com/65" id="ban3" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>

            <div class="col align-self-end" id="div8">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ8">
                <img src="https://via.placeholder.com/65" id="ban8" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>
        </div>
        <div class="row">
            <div class="col align-self-start" id="div4">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ4">
                <img src="https://via.placeholder.com/65" id="ban4" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>

            <div class="col align-self-end" id="div9">
                <img src="https://via.placeholder.com/120" class="img-thumbnail"
                     alt="..." id="champ9">
                <img src="https://via.placeholder.com/65" id="ban9" alt="Example2" width="65" height="65"
                     style="vertical-align:top">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var patch = ""
            $.getJSON("https://ddragon.leagueoflegends.com/api/versions.json", function (lol) {

                patch = lol[0]

            });

            var intervalId = window.setInterval(function () {

                $.ajax({
                    type: "POST",
                    url: "/check_gamestatus",
                    data: {id: true},
                    dataType: 'JSON',
                    success: function (response) {
                        switch (response['gamephase']) {
                            case 'DeclaringChamp':
                                $.getJSON("https://ddragon.leagueoflegends.com/cdn/" + patch + "/data/it_IT/championFull.json", function (lol) {
                                    for (let i = 0; i < 10; i++) {
                                        if (response[i]["pickIntent"] === 0) {
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";

                                        } else {
                                            champ = lol["keys"][response[i]["pickIntent"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;

                                            if (response[i]["inAction"]) {
                                                document.getElementById("div" + i).style.backgroundColor = 'green';
                                            } else {
                                                document.getElementById("div" + i).style.backgroundColor = 'white';
                                            }
                                        }

                                    }
                                });
                                break;
                            case  'Banning':
                                document.getElementById("divpick").style.visibility = 'false'
                                $.getJSON("https://ddragon.leagueoflegends.com/cdn/" + patch + "/data/it_IT/championFull.json", function (lol) {
                                    for (let i = 0; i < 10; i++) {
                                        if (response[i]["pickIntent"] === 0) {
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";

                                        } else {
                                            champ = lol["keys"][response[i]["pickIntent"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }

                                        if (response[i]["ban"] === -1 || response[i]["ban"] === 0) {
                                            document.getElementById("ban" + i).src = "https://via.placeholder.com/65";
                                        } else {
                                            champ = lol["keys"][response[i]["ban"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("ban" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }

                                        if (response[i]["inAction"]) {
                                            document.getElementById("div" + i).style.backgroundColor = 'green';
                                        } else {
                                            document.getElementById("div" + i).style.backgroundColor = 'white';
                                        }

                                    }
                                });
                                break;

                            case  'yourTurnToBan':

                                document.getElementById("divpick").style.visibility = 'visible'
                                $.getJSON("https://ddragon.leagueoflegends.com/cdn/" + patch + "/data/it_IT/championFull.json", function (lol) {
                                    for (let i = 0; i < 10; i++) {
                                        if (response[i]["pickIntent"] === 0) {
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";

                                        } else {
                                            champ = lol["keys"][response[i]["pickIntent"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }

                                        if (response[i]["ban"] === -1 || response[i]["ban"] === 0) {
                                            document.getElementById("ban" + i).src = "https://via.placeholder.com/65";
                                        } else {
                                            champ = lol["keys"][response[i]["ban"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("ban" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }

                                        if (response[i]["inAction"]) {
                                            document.getElementById("div" + i).style.backgroundColor = 'green';
                                        } else {
                                            document.getElementById("div" + i).style.backgroundColor = 'white';
                                        }

                                    }

                                });
                                break;


                            case 'PickPhase':
                                document.getElementById("divpick").style.visibility = 'false'
                                $.getJSON("https://ddragon.leagueoflegends.com/cdn/" + patch + "/data/it_IT/championFull.json", function (lol) {
                                    for (let i = 0; i < 10; i++) {
                                        if (response[i]["pick"] === 0) {
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";
                                        } else {
                                            champ = lol["keys"][response[i]["pick"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }
                                        if (response[i]["ban"] === -1 || response[i]["ban"] === 0) {
                                            document.getElementById("ban" + i).src = "https://via.placeholder.com/65";
                                        } else {
                                            champ = lol["keys"][response[i]["ban"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("ban" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }

                                        if (response[i]["inAction"]) {

                                            document.getElementById("div" + i).style.backgroundColor = 'green';
                                        } else {
                                            document.getElementById("div" + i).style.backgroundColor = 'white';
                                        }
                                    }
                                });
                                break;

                            case 'yourTurnToPick':
                                document.getElementById("divpick").style.visibility = 'true'
                                $.getJSON("https://ddragon.leagueoflegends.com/cdn/" + patch + "/data/it_IT/championFull.json", function (lol) {
                                    for (let i = 0; i < 10; i++) {
                                        if (response[i]["pick"] === 0) {
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";
                                        } else {
                                            champ = lol["keys"][response[i]["pick"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }
                                        if (response[i]["ban"] === -1 || response[i]["ban"] === 0) {
                                            document.getElementById("ban" + i).src = "https://via.placeholder.com/65";
                                        } else {
                                            champ = lol["keys"][response[i]["ban"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("ban" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }

                                        if (response[i]["inAction"]) {

                                            document.getElementById("div" + i).style.backgroundColor = 'green';
                                        } else {
                                            document.getElementById("div" + i).style.backgroundColor = 'white';
                                        }
                                    }
                                });
                                break;

                            case 'Picking':
                                document.getElementById("divpick").style.visibility = 'false'

                                break;
                            case  'Ending':
                                document.getElementById("divpick").style.visibility = 'false'
                                $.getJSON("https://ddragon.leagueoflegends.com/cdn/" + patch + "/data/it_IT/championFull.json", function (lol) {
                                    for (let i = 0; i < 10; i++) {
                                        if (response[i]["pick"] === 0) {
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";
                                        } else {
                                            champ = lol["keys"][response[i]["pick"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }
                                        if (response[i]["ban"] === -1 || response[i]["ban"] === 0) {
                                            document.getElementById("ban" + i).src = "https://via.placeholder.com/65";
                                        } else {
                                            champ = lol["keys"][response[i]["ban"]];
                                            img = lol["data"][champ]["image"]["full"];
                                            document.getElementById("ban" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }

                                        if (response[i]["inAction"]) {

                                            document.getElementById("div" + i).style.backgroundColor = 'green';
                                        } else {
                                            document.getElementById("div" + i).style.backgroundColor = 'white';
                                        }
                                    }
                                });
                                break;


                            case 'Gamestart':

                                break;
                            default:
                                return;
                        }

                    },
                    error: function (response) {
                        console.log(response);
                    }

                });
            }, 1000);

            $("#pick_btn").click(function (e) {
                var code = document.getElementById("pick_inp").value;
                $.ajax({
                    type: "POST",
                    url: "/lock",
                    data: {id: code},
                    dataType: 'JSON',
                    success: function (response) {
                        console.log(response);
                        if (response["success"]) {
                            document.getElementById("divpick").style.visibility = 'false'

                        }

                    },
                    error: function (response) {
                        console.log(response);
                    }

                });

            });
        })
        ;


    </script>

{% endblock %}

