{% extends 'base.html' %}
{% block title %} Welcome Lol Picker App {% endblock %}
{% block content %}
<style>
    img {
        border-image: url('static/border.jpg');
        border-radius: 25px;
    }

    body {
        font-family: 'Georgia', sans-serif !important;
        font-size: 20px;
        background-image: url('static/sfondo.jpg');
    }
</style>
<br>
<p align="center">
<div  id="id-timer" align="center" style="font-size: 35px" class="display-1 text-white">FASE</div></p><br>
<div style="text-align: center">
</div>

<div class="row justify-content-md-center">
    <div class="col-4" id="divpick">
        <select id="select-picker" first_time="1" class="js-example-basic-single" style="width:100%;"
                name="state">
        </select>
    </div>
    <div class="col-4">
        <button id="select-picker-btn" class="btn btn-primary" type="submit">submit</button>
    </div>
</div>

<div class="container ">

    <div class="row">
        <div class="col align-self-start bg-transparent" id="div0">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ0" width="80" height="80">
            <img src="https://via.placeholder.com/65" banid="0" id="ban0" alt="Example2" width="45" height="45"
                 style="vertical-align:top">
        </div>
        <div class="col align-self-end bg-transparent" id="div5">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ5" width="80" height="80" style="float: right;">
            <img src="https://via.placeholder.com/65" banid="0" id="ban5" alt="Example2" width="45" height="45"
                 style="vertical-align:top; float: right;">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col align-self-start bg-transparent" id="div1">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ1" width="80" height="80">
            <img src="https://via.placeholder.com/65" banid="0" id="ban1" alt="Example2" width="45" height="45"
                 style="vertical-align:top">
        </div>
        <div class="col align-self-end bg-transparent" id="div6">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ6" width="80" height="80" style="float: right;">
            <img src="https://via.placeholder.com/65" banid="0" id="ban6" alt="Example2" width="45" height="45"
                 style="vertical-align:top; float: right;">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col align-self-start bg-transparent" id="div2">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ2" width="80" height="80">
            <img src="https://via.placeholder.com/65" banid="0" id="ban2" alt="Example2" width="45" height="45"
                 style="vertical-align:top">
        </div>
        <div class="col align-self-end bg-transparent" id="div7">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ7" width="80" height="80" style="float: right;">
            <img src="https://via.placeholder.com/65" banid="0" id="ban7" alt="Example2" width="45" height="45"
                 style="vertical-align:top; float: right;">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col align-self-start bg-transparent" id="div3">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ3" width="80" height="80">
            <img src="https://via.placeholder.com/65" banid="0" id="ban3" alt="Example2" width="45" height="45"
                 style="vertical-align:top">
        </div>
        <div class="col align-self-end bg-transparent" id="div8">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ8" width="80" height="80" style="float: right;">
            <img src="https://via.placeholder.com/65" banid="0" id="ban8" alt="Example2" width="45" height="45"
                 style="vertical-align:top; float: right;">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col align-self-start bg-transparent" id="div4">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ4" width="80" height="80">
            <img src="https://via.placeholder.com/65" banid="0" id="ban4" alt="Example2" width="45" height="45"
                 style="vertical-align:top">
        </div>
        <div class="col align-self-end bg-transparent" id="div9">
            <img src="https://via.placeholder.com/120" class="img-thumbnail"
                 alt="..." championid="0" id="champ9" width="80" height="80" style="float: right;">
            <img src="https://via.placeholder.com/65" banid="0" id="ban9" alt="Example2" width="45" height="45"
                 style="vertical-align:top; float: right;">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col align-self-start bg-transparent">
            <div id="l_team0" align="left" class="text-white">SQUAD 0</div>
        </div>
        <div class="col align-self-end bg-transparent" id="l_team2">
            <div id="l_team1" align="right" class="text-white">SQUAD 1</div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: "/check_gamestatus",
            data: {},
            dataType: 'JSON',
            success: function (response) {
                console.log(response['gamephase']);
                for (let i = 0; i < 10; i++) {
                    if (response[i]['me'] === "True") {
                        if (i <= 4) {
                            document.getElementById('l_team0').innerHTML = "My Team"
                            document.getElementById('l_team1').innerHTML = "Enemy Team"
                        } else {
                            document.getElementById('l_team0').innerHTML = "Enemy Team"
                            document.getElementById('l_team1').innerHTML = "My Team"
                        }
                    }
                }
            },
            error: function (response) {
                console.log(response);
            }
        });

        $('.js-example-basic-single').select2();
        $("#divpick").hide();
        $("#select-picker-btn").hide();

        var patch = ""
        var champInfo = null
        $.getJSON("https://ddragon.leagueoflegends.com/api/versions.json", function (json) {
            patch = json[0]

            $.getJSON("https://ddragon.leagueoflegends.com/cdn/" + patch + "/data/it_IT/championFull.json", function (json) {
                champInfo = json;
                console.log(champInfo);
                // inizializzando la select con la lista completa di tutti i champ
                for (const [key, value] of Object.entries(champInfo['keys'])) {
                    var champ_name = champInfo["data"][value]["name"];
                    var newOption = new Option(champ_name, key, false, false);
                    $('#select-picker').append(newOption).trigger('change');
                }
            });

        });

        $("#select-picker-btn").click(function () {
            var select = document.getElementById('select-picker');
            var code = select.options[select.selectedIndex].value;
            console.log(code);

            $.ajax({
                type: "POST",
                url: "/lock",
                data: {id: code},
                dataType: 'JSON',
                success: function (response) {
                    console.log(response);
                    control = false;
                },
                error: function (response) {
                    console.log(response);
                }
            });

        });

        var intervalId = window.setInterval(function () {
            $.ajax({
                type: "POST",
                url: "/check_gamestatus",
                data: {},
                dataType: 'JSON',
                success: function (response) {
                    console.log(response['gamephase']);
                    switch (response['gamephase']) {

                        case 'DeclaringChamp':
                            console.log("declaring champion");
                            $("#divpick").hide();
                            $("#select-picker-btn").hide();
                            for (let i = 0; i < 10; i++) {
                                if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pickIntent"]) {

                                    if (response[i]["pickIntent"] === 0) {

                                        document.getElementById("champ" + i).setAttribute("championId", 0);

                                        document.getElementById("champ" + i).src = "https://via.placeholder.com/120";

                                    } else {

                                        document.getElementById("champ" + i).setAttribute("championId", response[i]["pickIntent"]);

                                        champ = champInfo["keys"][response[i]["pickIntent"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                    }
                                }
                            }
                            break;

                        case  'yourTurnToBan':
                            $("#divpick").show();
                            $("#select-picker-btn").show();
                            for (let i = 0; i < 10; i++) {
                                if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pickIntent"]) {
                                    if (response[i]["pickIntent"] === 0) {
                                        document.getElementById("champ" + i).setAttribute("championId", 0);
                                        document.getElementById("champ" + i).src = "https://via.placeholder.com/120";
                                    } else {
                                        document.getElementById("champ" + i).setAttribute("championId", response[i]["pickIntent"]);
                                        champ = champInfo["keys"][response[i]["pickIntent"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                    }
                                }
                                if (document.getElementById("ban" + i).getAttribute("banId") !== response[i]["ban"]) {
                                    if (document.getElementById("ban" + i).getAttribute("banId") !== 0) {
                                        $("#select-picker option[value=" + document.getElementById("ban" + i).getAttribute("banId") + "]").prop('disabled', false);
                                    }
                                    if (response[i]["ban"] === -1 || response[i]["ban"] === 0) {
                                        document.getElementById("ban" + i).setAttribute("banId", 0);
                                        document.getElementById("ban" + i).src = "https://via.placeholder.com/65";
                                    } else {
                                        document.getElementById("ban" + i).setAttribute("banId", response[i]["ban"]);
                                        champ = champInfo["keys"][response[i]["ban"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("ban" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        $("#select-picker option[value=" + response[i]["ban"] + "]").prop('disabled', true);
                                    }
                                }
                                if (response[i]["inAction"]) {
                                    document.getElementById("div" + i).style.backgroundColor = 'green';
                                } else {
                                    document.getElementById("div" + i).style.backgroundColor = 'white';
                                }
                            }
                            break;

                        case  'Banning':
                            $("#divpick").hide();
                            $("#select-picker-btn").hide();
                            for (let i = 0; i < 10; i++) {
                                if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pickIntent"]) {
                                    if (response[i]["pickIntent"] === 0) {
                                        document.getElementById("champ" + i).setAttribute("championId", 0);
                                        document.getElementById("champ" + i).src = "https://via.placeholder.com/120";
                                    } else {
                                        document.getElementById("champ" + i).setAttribute("championId", response[i]["pickIntent"]);
                                        champ = champInfo["keys"][response[i]["pickIntent"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                    }
                                }
                                if (document.getElementById("ban" + i).getAttribute("banId") !== response[i]["ban"]) {
                                    if (response[i]["ban"] === -1 || response[i]["ban"] === 0) {
                                        document.getElementById("ban" + i).setAttribute("banId", 0);
                                        document.getElementById("ban" + i).src = "https://via.placeholder.com/65";
                                    } else {
                                        document.getElementById("ban" + i).setAttribute("banId", response[i]["ban"]);
                                        champ = champInfo["keys"][response[i]["ban"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("ban" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                    }
                                }
                                if (response[i]["inAction"]) {
                                    document.getElementById("div" + i).style.backgroundColor = 'green';
                                } else {
                                    document.getElementById("div" + i).style.backgroundColor = 'white';
                                }
                            }
                            break;

                        case 'PickPhase':
                            $("#divpick").hide();
                            $("#select-picker-btn").hide();
                            for (let i = 0; i < 10; i++) {
                                if (response[i]["pick"] !== 0) {
                                    document.getElementById("champ" + i).style.borderColor = 'red';
                                    if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pick"]) {
                                        document.getElementById("champ" + i).setAttribute("championId", response[i]["pick"]);
                                        champ = champInfo["keys"][response[i]["pick"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                    }
                                } else {
                                    if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pickIntent"]) {
                                        if (response[i]["pickIntent"] === 0) {
                                            document.getElementById("champ" + i).setAttribute("championId", 0);
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";
                                        } else {
                                            document.getElementById("champ" + i).setAttribute("championId", response[i]["pickIntent"]);
                                            champ = champInfo["keys"][response[i]["pickIntent"]];
                                            img = champInfo["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }
                                    }
                                }
                                if (document.getElementById("ban" + i).getAttribute("banId") !== response[i]["ban"]) {
                                    if (response[i]["ban"] === -1 || response[i]["ban"] === 0) {
                                        document.getElementById("ban" + i).setAttribute("banId", 0);
                                        document.getElementById("ban" + i).src = "https://via.placeholder.com/65";
                                    } else {
                                        document.getElementById("ban" + i).setAttribute("banId", response[i]["ban"]);
                                        champ = champInfo["keys"][response[i]["ban"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("ban" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                    }
                                }
                                if (response[i]["inAction"]) {
                                    document.getElementById("div" + i).style.backgroundColor = 'green';
                                } else {
                                    document.getElementById("div" + i).style.backgroundColor = 'white';
                                }
                            }
                            break;

                        case 'yourTurnToPick':
                            if (document.getElementById("select-picker").getAttribute("first_time") === "1") {
                                console.log("FIRST TIME");
                                $("#divpick").show();
                                $("#select-picker-btn").show();
                                document.getElementById("select-picker").setAttribute("first_time", "0");
                                $('#select-picker').empty();
                                console.log("svuotata")

                                $.ajax({
                                    type: "POST",
                                    url: "/set_pickable",
                                    data: {},
                                    dataType: 'JSON',
                                    success: function (response) {
                                        console.log(response);

                                        for (var i = 0; i < response.length; i++) {
                                            var id = response[i];
                                            console.log(id);
                                            var champ_name = champInfo["data"][champInfo['keys'][id]]["name"];
                                            var newOption = new Option(champ_name, id, false, false);
                                            $('#select-picker').append(newOption).trigger('change');
                                        }
                                    },
                                    error: function (response) {
                                        console.log(response);
                                    }
                                });

                            }
                            for (let i = 0; i < 10; i++) {

                                if (response[i]["pick"] !== 0) {
                                    document.getElementById("champ" + i).style.borderColor = 'red';
                                    $("#select-picker option[value=" + response[i]["pick"] + "]").prop('disabled', true)

                                    if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pick"]) {


                                        document.getElementById("champ" + i).setAttribute("championId", response[i]["pick"]);
                                        champ = champInfo["keys"][response[i]["pick"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                    }
                                } else {
                                    if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pickIntent"]) {
                                        if (response[i]["pickIntent"] === 0) {
                                            document.getElementById("champ" + i).setAttribute("championId", 0);
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";
                                        } else {
                                            document.getElementById("champ" + i).setAttribute("championId", response[i]["pickIntent"]);
                                            champ = champInfo["keys"][response[i]["pickIntent"]];
                                            img = champInfo["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }
                                    }
                                }
                                if (response[i]["inAction"]) {
                                    document.getElementById("div" + i).style.backgroundColor = 'green';
                                } else {
                                    document.getElementById("div" + i).style.backgroundColor = 'white';
                                }
                            }
                            break;

                        case 'Picking':
                            $("#divpick").hide();
                            $("#select-picker-btn").hide();
                            for (let i = 0; i < 10; i++) {
                                if (response[i]["pick"] !== 0) {
                                    document.getElementById("champ" + i).style.borderColor = 'red';
                                    if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pick"]) {
                                        document.getElementById("champ" + i).setAttribute("championId", response[i]["pick"]);
                                        champ = champInfo["keys"][response[i]["pick"]];
                                        img = champInfo["data"][champ]["image"]["full"];
                                        document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                    }
                                } else {
                                    if (document.getElementById("champ" + i).getAttribute("championId") !== response[i]["pickIntent"]) {
                                        if (response[i]["pickIntent"] === 0) {
                                            document.getElementById("champ" + i).setAttribute("championId", 0);
                                            document.getElementById("champ" + i).src = "https://via.placeholder.com/120";
                                        } else {
                                            document.getElementById("champ" + i).setAttribute("championId", response[i]["pickIntent"]);
                                            champ = champInfo["keys"][response[i]["pickIntent"]];
                                            img = champInfo["data"][champ]["image"]["full"];
                                            document.getElementById("champ" + i).src = "https://ddragon.leagueoflegends.com/cdn/" + patch + "/img/champion/" + img;
                                        }
                                    }
                                }
                                if (response[i]["inAction"]) {
                                    document.getElementById("div" + i).style.backgroundColor = 'green';
                                } else {
                                    document.getElementById("div" + i).style.backgroundColor = 'white';
                                }
                            }
                            break;

                        case  'Ending':
                            $("#divpick").hide();
                            $("#select-picker-btn").hide();
                            break;

                        case 'Gamestart':
                            window.location.href = '/';
                            break;
                        default:
                            return;
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }, 200);
    });
</script>

{% endblock %}

