{% extends 'base.html' %}

{% block content %}
<style>
    #computer {
        display: block;
    }

    @media screen and (max-width: 768px) {
        #computer {
            display: none;
        }
        body {
            background-image: url('static/sfondo_recutted.jpg');
        }
    }

    #telefono {
        display: block;
    }

    @media screen and (min-width: 768px) {
        #telefono {
            display: none;
        }
        body {
            background-image: url('static/sfondo2.jpg');
        }
    }

    #telefono {
        display: block;
    }

    /*@media screen and (min-width: 768px) {*/
    /*    #telefono {*/
    /*        display: none;*/
    /*    }*/
    /*}*/
</style>

<h1>{% block title %} Welcome Lol Picker App {% endblock %}</h1>
<div class="col-6">
    <label class="form-label">Sync Code <label id="error-code" style="font-size:12px; color:red;"> </label> </label>
    <input type="text" class="form-control" id="id-input" style="text-transform:uppercase" style="border-radius: 25px;"> </input>
</div>
<button id="id-bottone" class="btn btn-primary" type="submit">submit</button>

<!--<div id="telefono">-->
<!--    <style>-->
<!--        body {-->
<!--            background-image: url('static/sfondo_recutted.jpg');-->
<!--        }-->
<!--    </style>-->
<!--</div>-->

<div id="computer">
    <a href="static/sfondo.jpg" download>download the zip</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: "/getcookie",
            data: {},
            dataType: 'JSON',
            success: function (response) {

                if (response["success"]) {

                    document.getElementById("id-input").value = response['code']

                }

            },
            error: function () {


            }
        });

        $("#id-bottone").click(function (e) {

            var bool = true;
            var code = document.getElementById("id-input").value;
            if (code.length === 0) {
                document.getElementById("error-code").innerHTML = "Password errata, ritenta!";
                bool = false;
            } else
                document.getElementById("error-code").innerHTML = "";

            if (bool) {
                $.ajax({
                    type: "POST",
                    url: "/code",
                    data: {id: code},
                    dataType: 'JSON',
                    success: function (response) {

                        console.log("ok")

                        if (response["success"]) {
                            $.ajax({
                                type: "POST",
                                url: "/setcookie",
                                data: {code: code},
                                dataType: 'JSON',
                                success: function () {

                                    console.log("ok")

                                },
                                error: function () {
                                    console.log("errore")
                                }

                            });
                            window.location.href = '/waiting';
                        }

                    },
                    error: function (response) {
                        console.log(response);
                    }

                });

            }


        });
    })
    ;


</script>

{% endblock %}