{% extends 'base.html' %}
{% block title %}PICK-IT!{% endblock %}
{% block content %}
<style>
    .formAndButton {
        align-content: center;
    }

    .formAndButton input {
        display: inline;
    }

    #computer {
        display: block;
    }

    @media screen and (max-width: 768px) {
        #computer {
            display: none;
        }

        body {
            background: url('static/background mobile/home_telefono.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }

    @media screen and (min-width: 768px) {
        body {
            background: url('static/background pc/home_computer.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }

    body {
        font-family: 'Arial', sans-serif !important;
        /*background-image: url('static/sfondo.jpg');*/
    }
</style>

<br><br><br>

<h1 style="font-size:30px; color:white; text-align: center"><strong>PICK-IT!</strong></h1>

<br>
<div class="container" id="bg">
    <div>
        <label class="form-label" id="label" style="font-size:18px; color:white; width: 100%; text-align: center">Insert
            the synchronization code
            <label id="error-label" style="font-size:12px; color:red;"></label>
        </label>
    </div>
    <br>
    <div class="formAndButton" align="center">
        <input class="form-control text-center" id="id-input" type="text" maxlength="6"
               style="text-transform:uppercase; font-size: 20px; width:135px; height:55px">
        <button id="id-bottone" class="btn btn-dark text-center" style="font-size: 20px" type="submit">GO
        </button>
    </div>

    <br><br>

    <div id="computer">
        <!--        <div class="card" style="width: 18rem;border-radius: 15px; margin: auto">-->
        <!--            <img class="card-img-top" src="/static/favicon.ico" width="100px" height="270px" alt="card image">-->
        <!--            <div class="card-body">-->
        <!--                <h5 class="card-title">Card title</h5>-->
        <!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
        <!--                    card's content.</p>-->
        <!--                <a href="static/sfondo.jpg" download> download the zip</a>-->
        <!--            </div>-->
        <!-- style="width: 18rem; border-radius: 30px; margin: auto -->
        <div class="card" style="width: 500px; border-radius: 30px; margin: auto">
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">PICK-IT!</h5>
                <h6 class="card-subtitle mb-2 text-muted">Just pick it from anywhere!</h6>
                <p class="card-text">If it is your first time, and your browsing from your pc, just
                    <a href="static/sfondo.jpg" download>download</a> the executable.</p>
                <p class="card-text">If it is your first time, and your browsing from your smartphone, just install
                    the web-appp in your home</p>If you need an help, just watch this-awesone-masterpiece-video tutorial:
                <iframe width="420" height="315"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <!--        <label>If it is your first time, just download the installer from the link below</label>-->
    <!--        <a href="static/sfondo.jpg" download>download the zip</a>-->
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: "/getcookie",
            data: {},
            dataType: 'JSON',
            success: function (response) {

                if (response["success"]) {

                    document.getElementById("id-input").value = response['code']

                }

            },
            error: function () {


            }
        });

        $("#id-bottone").click(function (e) {
            var bool = true;
            var code = document.getElementById("id-input").value;
            $.ajax({
                type: "POST",
                url: "/code",
                data: {id: code},
                dataType: 'JSON',
                success: function (response) {
                    console.log("ok")
                    if (response["success"]) {
                        document.getElementById("error-label").innerHTML = "";
                        $.ajax({
                            type: "POST",
                            url: "/setcookie",
                            data: {code: code},
                            dataType: 'JSON',
                            success: function () {
                                console.log("ok")
                            },
                            error: function () {
                                console.log("errore")
                            }

                        });
                        window.location.href = '/waiting';
                    } else {
                        document.getElementById("error-label").innerHTML = "Password errata, ritenta!";
                        document.getElementById("error-label").style.color = "red";

                    }

                },
                error: function (response) {
                    console.log(response);
                }

            });


        });
    })
    ;


</script>

{% endblock %}