{% extends 'base.html' %}
{% block title %}PICK-IT!{% endblock %}
{% block content %}

<style>
    #computer {
        display: block;
    }

    @media screen and (max-width: 768px) {
        #computer {
            display: none;
        }

        body {
            background: url('static/background mobile/loading_telefono.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }

    @media screen and (min-width: 768px) {
        body {
            background: url('static/background pc/loading_computer.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }

    body {
        font-family: 'Arial', sans-serif !important;
    }
</style>

<br><br><br><br><br><br>
<h1 style="font-size:30px; color:black; text-align: center"><strong>Waiting for match<br>to start...</strong></h1>
<br>
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" style="color: black; width: 5rem; height: 5rem; border-width: 7px">
        <span class="sr-only"></span>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var intervalId = window.setInterval(function () {
            $.ajax({
                type: "POST",
                url: "/check_gamestart",
                data: {},
                dataType: 'JSON',
                success: function (response) {
                    console.log(response);

                    if (response["success"]&&!response["closed"]) {

                        window.location.href = '/champselection';

                    }

                    if (response["closed"]) {

                        window.location.href = '/';

                    }

                },
                error: function (response) {

                }

            });

        }, 2000);
    });


</script>

{% endblock %}